body, html {
    height: 100%;
    margin: 0;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: lightskyblue;
    grid-row: 1 / 3;
}

.header {
    background-color: white;
    grid-column: 2 / 5;
}

.main {
    background-color: grey;
    grid-column: 2 / 5;
}